body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weather{
  color: azure;
  text-align:center;
  margin-top: 150px;
  float:right;
}

.body-color{
  background-color: black;
}

.body-items{
  background-color: rgb(17, 16, 16);
}

.items{
  color:white;
}

.item-detail{
  background-color: rgb(24, 24, 24);

}

